/*Font Style*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
/*Colors*/

:root {
    --primary:#1a253f;
    --dark:#151A33;
    --secondary:#2b55cc;
    --info:#4b79f6;
    --ternary:#848db3;
    --pure:#eff2f9;
    --fade:#7081b9;
    --mild:#8997bd;
    --footer:#212A4A;
    --black:#060b1b;
    --twitter:#4ac7ec;
    --dribbble:#ff5da0;
    --success:#1ecab8;
    --danger:#f1646c;
    --dark-blue:#28365f;
    --instagram: #8a3ab9;
}

/*Reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'IBM Plex Sans', sans-serif;
    background:var(--dark);
    -webkit-font-smoothin:antialiased;
    height:5000px;
}

h1,h2,h3,h4,h5,h6{

    margin: 0;
    line-height:1;
}

.container{
    max-width:1140px;
    margin:0 auto;
}
.resume button{
    cursor: pointer;
}

nav{
    background:var(--primary);
    padding: 1.6rem 0;
}

nav .inner{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

nav .inner .logo{
    text-transform: uppercase;
    color:var(--pure);
    font-size:18px;
    letter-spacing:1px;
    font-weight:500;
}

nav .inner .logo i{
    color:var(--info);
}

nav .inner button{
    background-color:var(--secondary);
    border:none;
    padding:0.6rem 1rem;
    color:var(--pure);
    border-radius:4px;

}
section.profile{
    background:var(--black);
    display: flex;
    align-items: center;
    padding:3rem;
    margin-top: 60px;
    /*clip-path: polygon(0 0,100% 0,100% 80%,25% 100%,0 80%);*/
    padding-bottom: 3rem;
    
}

section.profile .left{
    flex:2;
    display: flex;
    align-items: center;
}

section.profile .right{
    flex:1;
}

section.profile .left h2{
    color:var(--fade);
    font-size:24px;
    font-weight:600;
    margin-bottom: 1rem;
}

section.profile .left p{
    color: var(--mild);
    font-size:14px;
}

section.profile .left img{
    width: 140px;
    height: 140px;
    border-radius: 50px;
    object-fit:fill;
}

section.profile .left .avatar_block{
    position:relative;
    margin-right:2rem;
}

section.profile .left .avatar_block span{
    position: absolute;
    right:4px;
    bottom: 4px;
    background:var(--info);
    width: 32px;
    height:32px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
    color:var(--pure);
    box-shadow:0px 0px 20px 0px rgba(32,41,54,0.0);
    cursor:pointer;
}


section.profile .right ul.contact{
    list-style-type:none;
    margin-bottom:1.6rem;
}

section.profile .right ul.contact li{
    color:var(--ternary);
    margin-bottom: .7rem;
    font-size:14px;
}

section.profile .right ul.contact li i{
    font-size: 10px;
}

section.profile .right ul.socials{
    display:flex;
    align-items:center;
    list-style-type: none;
}

section.profile .right ul.socials li{
    margin-right:0.8rem;
}

section.profile .right ul.socials li a{
    display: inline-block;
    width:36px;
    height:36px;
    border-radius: 50%;
    color:var(--pure);
    line-height: 36px;
    text-align:center;
}

section.profile .right ul.socials li:nth-child(1) a{
    background:var(--secondary);

}
section.profile .right ul.socials li:nth-child(2) a{
    background-color:var(--twitter);
}
section.profile .right ul.socials li:nth-child(3) a{
    background-color:var(--instagram)
}

.section_heading{
    font-size:16px;
    font-weight:500;
    color:var(--pure);
    margin-bottom:3rem;
    text-shadow: 0 0 1px rgba(40,54,95,0.1);
    position:relative;
}

section{
    padding:3rem;

}

main{
    background: var(--primary);
}

.section_heading:after{
    content: '';
    height:3px;
    width:80px;
    position:absolute;
    top:28px;
    left:0;
    border:2px dotted var(--danger);

}

section.about .content p{
    color:var --ternary;
    font-size:14px;
    line-height:1.6;
    letter-spacing:0.1px;
    margin-bottom:1rem;
}

section.skills .content{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
}

section.skills .content .left{
    display:grid;
    grid-template-columns:1fr 1fr;
}
section.skills .content .right{
    display:grid;
    grid-template-columns:1fr 1fr;
}

section.skills .content .left .heading{
    margin-bottom:2rem;
}
section.skills .content .right .heading{
    margin-bottom:2rem;
}
section.skills .content .left .heading i{
    color:var(--fade);
    font-size:52px;
}
section.skills .content .right .heading i{
    color:var(--fade);
    font-size:52px;
}
section.skills .content .left .heading h5{
    font-size:16px;
    margin-top:0.5rem;
    color:var(--mild);
}
section.skills .content .right .heading h5{
    font-size:16px;
    margin-top:0.5rem;
    color:var(--mild);
}
section.skills .content .left p{
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7;
}
section.skills .content .right a{
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7;
}
section.skills .content .left p.center{
    color:var(--fade);
}
section.skills .content .right p.center{
    color:var(--fade);
}
section.skills .content .left .item{
    margin-bottom:2.6rem;
    margin-left:15px;
    position:relative;
}
section.skills .content .right .item{
    margin-bottom:2.6rem;
    margin-left:15px;
    position:relative;
}

section.skills .content .left .item{
    margin-bottom:2.6rem;
    margin-left:15px;
    position:relative;
}
section.skills .content .right .item{
    margin-bottom:2.6rem;
    margin-left:15px;
    position:relative;
}
section.skills .content .left .timeline_wrapper{
    border-left: 2px dotted var(--dark-blue);
}
section.skills .content .right .timeline_wrapper{
    border-left: 2px dotted var(--dark-blue);
}

section.skills .content .cards{
    display:grid;
    grid-template-columns:1fr 1fr;
}
  
.item {
    border-left: 2px solid #007bff;
    padding-left: 10px;
}
  
.stack{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
  
  /* .card-image {
    max-width: 100%;
    height: auto;
  } */

  .card-text {
    margin-top: 10px;
  } 
  
  .progress-bar {
    height: 10px;
    background-color: #eff2f9;
    margin-top: 8px;
  }
  
  .progress-bar::after {
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-color: #007bff;
  }
  